.main {
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.section h2 {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.section h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 5px; 
  background-color: #C3181E; 
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.section p {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Specific Section Styles */

.missionContent{
  margin-top:50px
}

.journeyContent {
  display: flex;
  gap: 30px;
  align-items: center; 
  justify-content: center; 
  margin-top: 50px;
}

.journeyText {
  text-align: left; 
}

.founderImageContainer {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px;
}

.founderImage {
  width: 280px; 
  height: 280px; 
  object-fit: cover; 
  border-radius: 8px; 
}

.missionContent{
  margin-top: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .heroSection h1 {
    font-size: 36px;
  }

  .heroSection p {
    font-size: 20px;
  }

  .section h2 {
    font-size: 28px;
  }

  .section p {
    font-size: 16px;
  }
}

@media (max-width:827px) {
  .founderImageContainer{
    display:none
  }
  .journeyText{
    text-align: center;
  }
}
